@keyframes darkA {
    0% {background-color: white;height:100vh;
      width:100vw;}
      10% {background-image: url("../IMAGES/image1.png");height:100vh;
        width:100vw;}
        20% {background-image: url("../IMAGES/image2.png");height:100vh;
          width:100vw;}
          30% {background-image: url("../IMAGES/image3.png");height:100vh;
            width:100vw;}
            40% {background-image: url("../IMAGES/image4.png");height:100vh;
              width:100vw;}
              50% {background-image: url("../IMAGES/image5.png");height:100vh;
                width:100vw;}
                60% {background-image: url("../IMAGES/image6.png");height:100vh;
                  width:100vw;}
                  70% {background-image: url("../IMAGES/image7.png");height:100vh;
                    width:100vw;}
                    80% {background-image: url("../IMAGES/image8.png");height:100vh;
                      width:100vw;}
                      90% {background-image: url("../IMAGES/image9.png");height:100vh;
                        width:100vw;}
                        100% {background-image: url("../IMAGES/image10.png");height:100vh;
                          width:100vw;}
  }
@keyframes lightA {
  0% {background-image: url("../IMAGES/image10.png");height:100vh;
    width:100vw;}
    10% {background-image: url("../IMAGES/image9.png");height:100vh;
      width:100vw;}
      20% {background-image: url("../IMAGES/image8.png");height:100vh;
        width:100vw;}
        30% {background-image: url("../IMAGES/image7.png");height:100vh;
          width:100vw;}
          40% {background-image: url("../IMAGES/image6.png");height:100vh;
            width:100vw;}
            50% {background-image: url("../IMAGES/image5.png");height:100vh;
              width:100vw;}
              60% {background-image: url("../IMAGES/image4.png");height:100vh;
                width:100vw;}
                70% {background-image: url("../IMAGES/image3.png");height:100vh;
                  width:100vw;}
                  80% {background-image: url("../IMAGES/image2.png");height:100vh;
                    width:100vw;}
                    90% {background-image: url("../IMAGES/image1.png");height:100vh;
                      width:100vw;}
                       100% {background-color: beige;height:100vh;
                         width:100vw;}}
    
.Dark {
    background-image: url("../IMAGES/image10.png");
    height: 100vh;
    width:auto;
    animation-duration: 1s ;
    animation-name: darkA;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Light {
  background-color: beige;
    height:100vh;
    width:100vw;
    animation-duration: 1s ;
    animation-name: lightA;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#abcd{
  overflow-y: hidden;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px; 
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 30px;
  border: 3px solid gray;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-button:end{height: 50px; width:30%;}
::-webkit-scrollbar-button:start{height: 50px; width:30%;}